body{
    background-color: #373A3C !important;
}
.limit{
    width: 100%;
    padding: 0 15px;
}
.header__menu{
    display:flex;
    align-items: center;
    padding:8px 0;
}
.header__logo img{
    cursor: pointer; 
}
.menu-icon{
    display: none;
}
.header__menu-navbar{
    display:flex;
    justify-content: space-between;
}
.header__nav-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; 
}
.ft-montserrat{
    font-family: 'Montserrat', sans-serif; 
    color: #FFFFFF;
}
.header__nav{
    font-size: 14px;
    line-height: 16px;
    margin-right: 8px;
}
.header__search-form{
    display:flex;
    align-items: center;
}
input{
    width: 100%;
    height: 38px;
    background: white;
    outline: none;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding: 0 0 0 15px;
}
.header__user-icon{
    margin-right:5px;
}
/* block2 */
.banner{
    margin-bottom: 65px;
}
.main-slider{
    width:100%;
    /* overflow: hidden; */
    position: relative;
}
.main-slider__list{
    display: flex;
}
.slide{
    display: none;
}
.slide.active {
    display: block;
}
.slide img {
    max-width: 100%;
}
.slider-btn{
    position: absolute;
    top:50%;
    cursor: pointer;
}
.btn-prev{
    left:60px;
}
.btn-next{
    right:60px;
}
.main-slider__dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.dot.active {
    background-color: #000000;
}
.main-slider__dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray; 
    margin-right: 10px;
    cursor: pointer;
}
.main-slider__dots span:last-child{
    margin-right: 0;
}

/* block3 */
.best-value{
    padding:0 0 162px 0;
}
.best-value__header{
    text-align: center;
    margin-bottom:42px;
}
.best-value__header-icon{
    margin-bottom: 16px;
}
.block-title span{
    font-size: 48px;
    line-height: 56px;
}
.block-title{
    font-size: 36px;
    line-height: 42px;
}
.best-value__cont{
    display: flex;
}
.game_card{
    background: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 4px;
    max-width:320px;
    cursor: pointer; 
    padding:0 0 27px 0;
}
.game_card:hover{
    box-shadow: 0px 0px 20px 10px rgba(141, 216, 61, 0.1);
}
.card-img img{
    width:100%;
    margin-bottom:22px;
}
.card{
    min-height: 167px;
}
.game-card__cont-txt{
    padding:0 21px 43px 21px;
}
.game-card__title{
    font-size: 18px;
    line-height: 21px;
    margin-bottom:13px;
}
.game-card__txt{
    font-size: 24px;
    line-height: 28px;
}
.card-btn{
    padding:0 21px 0 21px;
    text-align: center;
}
.button-def{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.btn-defolt-size{
    width: 278px;
    height: 60px;
    border-radius: 4px;
    border:none;
}
.btn-green{
    background: #8DD83D;
}
/* block4 */
.exclusive-games{
    background-image: url(img/exclusive-bckg\ full.jpg); 
    background-repeat: no-repeat;
    max-width:100%; 
    padding:97px 0 0 0;
    overflow: hidden;
    position:relative;
}
.exclusive-games::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.5);
    top: 0;
    left: 0;
}
.exclusive-games__cont{
    /* text-align: center; */
    margin-bottom:58px;
}
.exclusive-games__cont .block-title{
    margin-bottom: 53px;
    text-align: center; 
}
.exclusive-bottom-btn{
    display: flex;
    justify-content: center;
}
.game-card-btn{
    font-size: 21px;
    width: 207px;
    height:53px;
    margin-top:58px;
}
.btn-gray{
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    border:none;
}
/* block5 */
.xbox-design-lab{
    background-image: url(img/design-lab\ full.jpg); 
    padding:114px 0 145px 167px;
    position: relative;
    max-width: 100%;
}
.xbox-design-lab::before{
    content:"";
    /* background:rgba(141, 216, 61, 0.1); */
    background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.design-lab-txt .block-title{
    margin-bottom: 10px;
}
.design-lab-text{
    margin-bottom: 37px;
    font-size: 24px;
    line-height: 28px;
}
.design-lab__btns button{
    margin-right: 15px;
}
.design-lab_btn{
    width: 207px;
    height: 60px;
    border-radius: 4px;
    border:none;
}
.btn-gray{
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}
/* block6 */
.footer{
    padding:58px 0 0 0;
}
.footer__list li{
    cursor: pointer; 
}
.footer__block img{
    margin-right: 20px;
}
.footer .row{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #FFFFFF;
    margin-bottom:20px;
}
.footer__title{
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
    margin-bottom:34px;
}
.footer__list li{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
}
.footer-bottom{
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
}
/* media_for_block1 */
@media (max-width:768px){
.header__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.header__logo{
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    display:block;
}
.header__menu .col-md-8{
    display: none;
}
}

/* media_for_block3 */
@media (max-width: 1250px){
.card {
    min-height: 187px;
}
.btn-defolt-size {
    width: 255px;
}
}
@media (max-width:768px){
    .best-value {
        padding: 0 0 40px 0;
        margin-top: 45px;
    }
    .best-value__header {
        margin-bottom: 35px;
    }
    .best-value__header-icon img{
        max-width:35px;
    }
    .block-title {
        font-size: 28px;
        line-height: 38px;
    }
    .block-title span {
        font-size: 36px;
        line-height: 42px;
    }
    .best-value__cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .best-value__cont .col-xs-12{
        margin-bottom: 25px;
        display:flex;
        justify-content: center;
    }
    .card-btn {
        text-align: center;
    }
}

/* media_for_block4 */
@media (max-width: 1250px){
.exclusive-games {
    padding: 60px 0 60px 0;
}
}

@media (max-width:768px){
.exclusive-games__cont .col-md-4{
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    }
}
/* media_for_block5 */
@media (max-width:1250px){
.xbox-design-lab {
    padding: 100px 0 100px 167px;
}
.design-lab-txt .button-def {
    margin:0 15px 15px 0;
}
}

@media (max-width:768px){
.xbox-design-lab {
    padding: 50px 20px 50px 20px;
}
.design-lab__btns{
    display: flex;
}
}

/* media_for_block6 */
@media (max-width:768px){
    .footer__icons{
        display: flex;
        flex-direction: column;
    }
    .footer__icons img{
        max-height:25px;
        margin-bottom: 20px;
    }
}